@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

body {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
    grid-area: header;
    padding: 5% 7%;
    background-image: url(../images/desktop/image-hero.jpg);
    height: 40.6rem;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.3rem;
}

.header-menu ul {
    display: flex;
    gap: 2.5rem;
    position: relative;
}

.header-menu ul a {
    color: var(--white);
    font-family: 'Alata', sans-serif;
    margin-bottom: 1.25rem;
    position: relative;
}

.link-footer {
    position: relative;
}

.link-footer::after,
.link-header::after {
    content: "";
    width: 1.8rem;
    height: 0.2rem;
    background-color: transparent;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 100ms;
}

.link-footer:hover::after,
.link-header:hover::after {
    background-color: var(--white);
}

.header h1 {
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    padding: 2.5rem 6.25rem 2.5rem 2.5rem;
    border: 3px solid var(--white);
    align-self: flex-start;
    width: fit-content;
    color: var(--white);
    font-weight: 400;
}

.main {
    grid-area: main;
    padding: 7%;
}

.interactive {
    position: relative;
    margin-bottom: 10.6rem;
}

.interactive div {
    padding: 4.3rem;
    background-color: var(--white);
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
}

.interactive div h2 {
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.interactive div p {
    font-family: 'Alata', sans-serif;
    color: var(--dark-gray);
    font-size: 0.9rem;
}

.creations div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 3.1rem;
}

.creations div h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.creations .see-works {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    padding: 0.6rem 1.8rem;
    border: 1px solid var(--black);
    transition: 0.3s;
    justify-self: flex-start;
}

.link-mobile a {
    display: none;
}

.creations .see-works:hover {
    background-color: var(--black);
    color: var(--white);
}

.creations .works {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
}

.creations h3 {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    align-self: flex-end;
    position: absolute;
    left: 7%;
    bottom: 7%;
    z-index: 2;
}

.creations article {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.creations article::after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(180deg, transparent 50%, #000b);
}

.creations article:hover::after {
    cursor: pointer;
    background: linear-gradient(180deg, #fff, #000b);
}

.creations img {
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;
}

.footer {
    padding: 5% 7%;
    background-color: var(--black);
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.footer-menu div {
    display: flex;
    gap: 0.6rem;
}

.footer-menu a {
    color: var(--white);
    font-size: 2rem;
    position: relative;
}

.info {
    font-family: 'Alata', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info ul {
    display: flex;
    gap: 2.5rem;
}

.info ul a {
    color: var(--white);
}

.info span {
    color: var(--very-dark-gray);
}

.section-mobile {
    display: none;
}

input {
    display: none;
}